@import 'variables';


// Answer-Body Styling
.answer-polaroid-image-pop {
  background-image: url('../images/polaroid.jpg');
  background-size: cover;
  border-top: 10px solid #d5d5d5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 508px;
  margin: 50px 500px 0px;
  position: relative;
  width: 415px;
  z-index: 2;
}
  
.answer-body {
  background-color: white;
  background-image: url('../images/white.jpg');
  background-size: cover;
  height: 100%;
  margin-top: 100px;
  overflow: hidden;
  position: fixed;
  top: 60px;
  width: 100%;
  z-index: 15;
}

.answer-box {  
  background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 55%, rgba(0,0,0,1) 95%); 
  background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 55%,rgba(0,0,0,1) 95%); 
  color: #FFF;
  height: 200px;
  margin: 10px 8.5px 0px;
  padding-bottom: 48%;
  position: absolute;
  width: 95.8%;
  z-index: 7;
}


// Answer-Content Styling
.answer-flashcard-option-title {
  color: $color-mustard;
  font-family: $font-main;
  font-size: 1.8em;
  text-align: center;
}

.result-answer {
  color: white;
  font-size: 1.5em;
  height: 100px;
  justify-content: center;
  margin-top: 20px;
  padding: -5px;
  text-align: center;
}

.save-button {
  background-color: white;
  border: 4px double $color-mustard;
  color: black;
  font-size: .6em;
  text-transform: uppercase;
  padding: 10px;
  margin-top: 0px;

  &:hover {
    color: white;
    background-color: $color-mustard;
    cursor: pointer;
  }
}

.flashcard-info-link {
  color: $color-mustard;
  font-family: $font-main;
  position: absolute;
  right: 155px;
  top: 350px;
  z-index: 3;

  &:hover {
    color: white;
    cursor: pointer;
  }
}

.none {
  display:none;
  position: absolute;
}

.back-flashcard-button {
  background-color: white;
  border: 4px double $color-mustard;
  color: black;
  font-size: .6em;
  text-transform: uppercase;
  padding: 10px;
  margin-top: 100px;

  &:hover {
    color: white;
    background-color: $color-mustard;
    cursor: pointer;
  }
}

  @media (max-width: 975px) {
  

  .answer-polaroid-image-pop {
    height: 320px;
    margin: 20px 50px 0px;
    width: 280px;
    position: absolute;
  }
    
  .answer-body {
    height: 170%;
    margin-top: 0px;
    overflow: hidden;
    position: absolute;
    top: 0px;
  }

  .answer-box {  
    height: 125.5px;
    margin: 14px 6.3px 0px;
    width: 94.8%;
  }

  .answer-flashcard-option-title {
    font-size: 1.1em;
    text-align: center;
  }

  .result-answer {
    color: white;
    font-size: 1em;
    height: 50px;
    margin: 20px 0px 0px 25px;
    width: 80%;
  }

  .correct-answer {
    font-size: 1em;
  }

  .flashcard-info-link {
    right: 90px;
    top: 220px;
    font-size: 1em;

  }

  .save-button {
    font-size: .5em;
    padding: 5px;
  }

  .back-flashcard-button {
    font-size: .5em;
    padding: 5px;
    margin-top: 74px;
  }
  }
