@import 'variables';


// Answer-Body Styling
.answer-polaroid-image-pop {
  background-image: url('../images/polaroid.jpg');
  background-size: cover;
  border-top: 10px solid #d5d5d5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 508px;
  margin: 20px 500px 0px;
  position: relative;
  width: 415px;
  z-index: 2;
}

  
.answer-body {
  background-color: white;
  background-image: url('../images/white.jpg');
  background-size: cover;
  height: 100%;
  margin-top: 100px;
  overflow: hidden;
  position: fixed;
  top: 60px;
  width: 100%;
  z-index: 15;
}

.answer-box {  
  background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 55%, rgba(0,0,0,1) 95%); 
  background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 55%,rgba(0,0,0,1) 95%); 
  color: #FFF;
  height: 200px;
  margin: 10px 8.5px 0px;
  padding-bottom: 48%;
  position: absolute;
  width: 95.8%;
  z-index: 7;
}


// Answer-Content Styling
.answer-flashcard-option-title {
  color: $color-mustard;
  font-family: $font-main;
  font-size: 1.8em;
  text-align: center;
}

.correct-answer {
  color: white;
  font-size: 1.5em;
  height: 100px;
  justify-content: center;
  margin-top: 20px;
  padding: -5px;
  text-align: center;
}

.flashcard-info-link {
  color: blue;
  font-family: $font-main;
  position: absolute;
  right: 155px;
  top: 320px;
  z-index: 3;

  &:hover {
    color: white;
    cursor: pointer;
  }
}

.answer-button {
  border: 1px solid white;
  height: auto;
  width: 100px;

  &:hover {
  cursor: pointer;
  }
}

.none {
  display:none;
  position: absolute;
}