@import 'variables';


.App {
  background-image: url('../images/white.jpg');
  background-size: cover;
  bottom: 0;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

/*Header Styling*/
.header {
  background-color: none;
  border-bottom: 5px double $color-grey;
  height: 150px;
  margin-left: 65px;
  overflow: hidden;
  width: 90%;
  z-index: 3;
}

.header-title {
  color: $color-mustard;
  font-family: $font-main;
  font-size: 100px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  margin: 18px 0px 35px 0px;
  position: relative;
  text-decoration: none;
  text-shadow: white 3px 2px 0;
}

span {
  color: $color-grey;
  text-shadow: #EDEDED 3px 2px 0;

}

/*Intro-Right Section Styling: Hero Image & Text*/
.snapshot-intro {
  display: flex;
  margin-top: 20px;
  margin-left: 217px;
}

.polaroid-image-main {
  background-image: url('../images/polaroid.jpg');
  background-size: cover;
  border-top: 10px solid #d5d5d5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 508px;
  margin: 35px 80px 0px;
  position: relative;
  width: 415px;
  z-index: 2;
}

.box {
  background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 55%, rgba(0,0,0,1) 95%); 
  background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 55%,rgba(0,0,0,1) 95%); 
  color: #FFF;
  height: 390px;
  margin: -30px 8.5px 0px;
  position: relative;
  width: 95.8%;
  z-index: 7;
}

.intro-details {
  margin: 50px 0px 0px 30px;
  text-align: left;
  width: 400px;
}

.intro-headline {
  color: $color-mustard;
  font-family: $font-main;
  font-size: 1.8em;
  padding-top: 50px;
  width: 275px;
}


/*Intro-left Section Styling: Flashcard Set Options*/
.flashcard-selections {
  color: $color-mustard;
  font-family: $font-main;
  font-size: 1.8em;
  font-weight: bold;
  height: 50px;
  margin: 110px 0px 0px 180px;
  text-align: right;
}

.flashcard-container {  
  display: flex;
  margin-left: 100px;
} 

.individual-flashcard-option {
  display: block;
} 

.flashcard-title-box {
  background-color: #387b89;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  font-size: 1.1em;
  height: 140px;
  margin: 30px 0px 0px 0px;
  padding: 20px 15px 0px 0px;
  text-align: right;
  width: 230px;
}

.start-flashcards {
  margin-bottom: 190px;
  background-color: white;
  background: none;
  border: 4px double $color-mustard;
  color: white;
  font-size: .4em;
  text-transform: uppercase;
  
  &:hover {
    background-color: $color-mustard;
    cursor: pointer;
  }
}

.flashcard-image {
  background-color: white;
  background-image: url('../images/proto4.png');
  background-size: cover;
  border: 5px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 149.5px;
  margin-top: 30px;
  position: relative;
  width: 150px;
  z-index: 2;
}

.flashcard-image-2 {
  background-color: white;
  background-image: url('../images/star.png');
  background-size: cover;
  border: 5px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 149.5px;
  margin-top: 30px;
  position: relative;
  width: 150px;
  z-index: 2;
}