@import 'variables';

// Flashcard-Body Styling
.polaroid-image-pop {
  background-image: url('../images/polaroid.jpg');
  background-size: cover;
  border-top: 10px solid #d5d5d5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 508px;
  margin: 50px 500px 0px;
  position: relative;
  width: 415px;
  z-index: 2;
}


.flashcard-body {
  background-color: white;
  background-image: url('../images/white.jpg');
  background-size: cover;
  height: 100%;
  margin-top: 100px;
  overflow: hidden;
  position: fixed;
  top: 60px;
  width: 100%;
  z-index: 15;
}

.array-cards {  
  background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 55%, rgba(0,0,0,1) 95%); 
  background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 55%,rgba(0,0,0,1) 95%); 
  color: #FFF;
  height: 260px;
  margin: 10px 8.5px 0px;
  padding-bottom: 34%;
  position: absolute;
  width: 95.8%;
  z-index: 7;
}

// Flashcard-Inner-Section
.flashcard-option-title {
  color: $color-mustard;
  font-family: $font-main;
  font-size: 1.8em;
  text-align: center;
}

.flashcard-definition {
  color: white;
  font-size: 1.5em;
  height: 100px;
  margin: 20px 0px 110px 40px;
  width: 80%;
}

// Button & Input Styling
.answer-section {
  margin-bottom: 35px;
}

.answerInput {
  font-size: .9em;
  border: 3px solid $color-mustard;
}

.answer-button {
  background-color: white;
  border: 3px solid $color-mustard;
  color: black;
  font-size: .7em;
  text-transform: uppercase;
  margin: 10px;
  padding-top: 4px;

  &:hover {
    color: white;
    background-color: $color-mustard;
    cursor: pointer;
  }
}

.btn {
  background-color: white;
  border: 4px double $color-mustard;
  color: black;
  font-size: .6em;
  text-transform: uppercase;
  margin: 10px;
  padding: 10px;

  &:hover {
    color: white;
    background-color: $color-mustard;
    cursor: pointer;
  }
}

.next-button {
  background-color: white;
  border: 4px double $color-mustard;
  color: black;
  font-size: .6em;
  text-transform: uppercase;
  padding: 10px;
  margin: 10px;

  &:hover {
    color: white;
    background-color: $color-mustard;
    cursor: pointer;
  }
}

.remove-flashcard {
  background-color: white;
  border: 4px double $color-mustard;
  color: black;
  font-size: .5em;
  text-transform: uppercase;
  padding: 10px;
  margin: 10px;

  &:hover {
    color: white;
    background-color: $color-mustard;
    cursor: pointer;
  }
}

.none {
  display:none;
  position: absolute;
}

  @media (max-width: 975px) {

  .polaroid-image-pop {
    height: 320px;
    margin: 20px 50px 0px;
    width: 280px;
    position: absolute;
  }

  .flashcard-body {
    height: 170%;
    margin-top: 80px;
    overflow: hidden;
    position: absolute;
    top: 30px;
  }

  .array-cards {  
    height: 164px;
    margin: 14px 6.3px 0px;
    width: 94.8%;
  }

  .flashcard-option-title {
    font-size: 1.1em;
    text-align: center;
  }

  .flashcard-definition {
    color: white;
    font-size: .8em;
    height: 50px;
    margin: 20px 0px 0px 25px;
    width: 80%;
  }

  .flashcard-number {
    font-size: .6em;
    margin-top: 45px;
  }

  .answer-section {
    margin-bottom: 10px;
  }

  .answer-button {
    font-size: .5em;
    padding: 5px;
  }

  .btn {
    font-size: .5em;
    padding: 5px;
  }






  }

