@import 'variables';

// Flashcard-Body Styling
.polaroid-image-pop {
  background-image: url('../images/polaroid.jpg');
  background-size: cover;
  border-top: 10px solid #d5d5d5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 508px;
  margin: 20px 500px 0px;
  position: relative;
  width: 415px;
  z-index: 2;
}


.flashcard-body {
  background-color: white;
  background-image: url('../images/white.jpg');
  background-size: cover;
  height: 100%;
  margin-top: 100px;
  overflow: hidden;
  position: fixed;
  top: 60px;
  width: 100%;
  z-index: 15;
}

.array-cards {  
  background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 55%, rgba(0,0,0,1) 95%); 
  background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 55%,rgba(0,0,0,1) 95%); 
  color: #FFF;
  height: 260px;
  margin: 10px 8.5px 0px;
  padding-bottom: 34%;
  position: absolute;
  width: 95.8%;
  z-index: 7;
}

// Flashcard-Inner-Section
.flashcard-option-title {
  color: $color-mustard;
  font-family: $font-main;
  font-size: 1.8em;
  text-align: center;
}

.flashcard-definition {
  color: white;
  font-size: 1.5em;
  height: 100px;
  margin: 20px 0px 100px 40px;
  width: 80%;
}

.answer-button {
  border: 1px solid white;
  height: auto;
  width: 100px;
}

.none {
  display:none;
  position: absolute;
}



