@import 'variables';


.flashcard-body {
}

.polaroid-image-pop {
  background-image: url('../images/polaroid.jpg');
  background-size: cover;
  position: relative;
  z-index: 2;
  height: 508px;
  width: 415px;
  margin: 45px 500px 0px;
  border-top: 10px solid white;
  border-color: #d5d5d5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.snapshot-body {
  margin-top: 250px;
  z-index: 6;
}

.popup {
  border-radius: 15px;
  margin-top: 5%;
  overflow: hidden;
  padding: 20px;
  position: fixed;
  right: calc(50vw - 595px);
  top: 180px;
  width: 1200px;
  z-index: 3;
}

.array-cards {  
  width: 95.8%;
  padding-bottom: 68.5%;
  background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 56%, rgba(0,0,0,1) 95%); 
  background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 56%,rgba(0,0,0,1) 95%); 
  color: #FFF;
  position: absolute;
  margin: 10px 8.5px 0px;
  z-index: 7;
}

.flashcard-definition {
  text-align: center;
  color: white;
  margin-top: 96px;
  font-size: 1.5em;
  padding: -5px;
  justify-content: center;
}

.answer-button {
  border: 1px solid white;
  height: auto;
  width: 100px;
}

