

.App {
  text-align: center;
}

.App {
  background-image: url('./images/white.jpg');
  background-size: cover;
  bottom: 0;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
}

/*Header*/
.header {
  background-color: none;
  border-bottom: 5px double #555;
  height: 190px;
  overflow: hidden;
  width: 90%;
  z-index: 3;
  margin-left: 65px;
}

.header-title {
  margin-top: 18px;
  margin-bottom: 35px;
  font-family: 'Open Sans', sans-serif;
  color: #555;
  text-decoration: none;
  font-size: 100px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
  position: relative;
}

.subhead {
  height: 50px;
  color: #555;
  font-family: 'Roboto Condensed', sans-serif;
}

/*Intro-Section*/
.snapshot-intro {
  margin-top: 0px;
  display: flex;
}

.polaroid-image-main {
  background-image: url('./images/polaroid.jpg');
  background-size: cover;
  position: relative;
  z-index: 2;
  height: 508px;
  width: 415px;
  margin: 35px 80px 0px;
  border-top: 10px solid white;
  border-color: #d5d5d5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box {
  width: 95.8%;
  background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 56%, rgba(0,0,0,1) 95%); 
  background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 56%,rgba(0,0,0,1) 95%); 
  color: #FFF;
  position: relative;
  margin: -30px 8.5px 0px;
  z-index: 7;
  height: 390px;
}

.intro-details {
  margin-top: 50px;
  margin-left: 30px;
  width: 400px;
  text-align: left;
}

.intro-headline {
  color: #A5832B;
  padding-top: 50px;
  width: 275px;
  font-size: 1.8em;
  font-family: 'Open Sans', sans-serif;
}


/*Flashcard Set Options*/
.flashcard-selections {
  color: #A5832B;
  height: 50px;
  margin-top: 110px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1.8em;
  margin-left: 180px;
  text-align: right;
}

.flashcard-container {  
  display: flex;
  margin-left: 100px;
} 

.individual-flashcard-option {
  display: block;
} 

.flashcard-title-box {
  height: 140px;
  width: 230px;
  background-color: #387b89;
  color: white;
  text-align: right;
  font-size: 1.1em;
  padding-top: 20px;
  padding-right: 15px;
  margin-left: 0px;
  margin-top: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.start-flashcards {
  margin-bottom: 190px;
}

.flashcard-image {
  background-image: url('./images/proto4.png');
  background-size: cover;
  margin-top: 30px;
  height: 149.5px;
  width: 150px;
  position: relative;
  z-index: 2;
  border: 5px solid white;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flashcard-image-2 {
  background-image: url('./images/star.png');
  background-size: cover;
  margin-top: 30px;
  height: 149.5px;
  width: 150px;
  position: relative;
  z-index: 2;
  border: 5px solid white;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



