@font-face {
  font-family: "Homemade Apple";
  font-style: cursive;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css?family=Homemade+Apple" rel="stylesheet");
}

@font-face {
  font-family: "Special Elite";
  font-style: cursive;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet");
}

.App {
  text-align: center;
}

.flashcard-intro {
  margin-top: 150px;
}

.landing-page {
  background-image: url('./images/white.jpg');
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  overflow: hidden;
}
   
.hide {
  display: none;
}  

.polaroid-image {
  background-image: url('./images/polaroid.jpg');
  background-size: cover;
  position: relative;
  z-index: 2;
  height: 508px;
  width: 415px;
  margin: 85px 500px 0px;
  border-top: 10px solid white;
  border-color: #d5d5d5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box {
  width: 95.8%;
  padding-bottom: 45.5%;
  background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 56%, rgba(0,0,0,1) 95%); 
  background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 56%,rgba(0,0,0,1) 95%); 
  color: #FFF;
  position: relative;
  margin: 10px 8.5px 0px;
  z-index: 7;
}

.main-headline {
  color: white;
  margin-top:0px;
  padding-top: 20px;
  font-size: 2em;
  font-family: "Homemade Apple";
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
}

.subhead {
  text-align: left;
  padding-left: 10px;
  margin-top: 50px;
}

.flashcards-button {
  border: 1px solid white;
  background: none;
  color: white;
  font-size: 1em;
  position: relative;
  margin-top: 8px;
  width: 200px;
  z-index: 5;

  &:hover {
    color: white;
    text-shadow: 1px 2px 1px black;
  }
}


.flashcards-page {
  background-image: url('./images/white.jpg');
  background-size: cover;
  bottom: 0;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.flashcard-body {
  margin-top: 100px;
}

.array-cards {
  width: 95.8%;
  padding-bottom: 68.5%;
  background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 56%, rgba(0,0,0,1) 95%); 
  background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 56%,rgba(0,0,0,1) 95%); 
  color: #FFF;
  position: absolute;
  margin: 10px 8.5px 0px;
  z-index: 7;
}

.flashcard-definition {
  text-align: center;
  font-size: 1.5em;
  padding: -5px;
  justify-content: center;
}

.answer-button {
  border: 1px solid white;
 height: auto;
  width: 100px;
}


.header {
  background-color: black;
  border-bottom: 5px solid white;
  height: 90px;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 3;
  text-align: right;
}

.header-title {
  color: white;
  font-family: sans-serif;
  font-size: 2em;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-right: 25px;
}
